PROJECT_NAME="Tempus API"
DATABASE_URL="postgresql://usuario:senha@localhost:5432/tempus"
SECRET_KEY="SUA_CHAVE_SECRETA_AQUI_MUITO_SEGURA"
JWT_EXPIRES_MIN=10080
OPENAI_API_KEY="sk-fake-key"

 EMAIL_PROVIDER=resend
RESEND_API_KEY=re_xxxxxxxxxxxx
EMAIL_FROM=Tempus <noreply@seudominio.com>
APP_URL=https://seu-frontend.com